numpy==1.23.1
pandas==1.4.3
tensorflow==2.9.1
keras==2.9.0
flask==2.1.2
gunicorn==20.1.0  # if you plan on using gunicorn as your HTTP server
matplotlib==3.5.2  # Optional: only if you need to plot within the application